/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fa;
    color:#333;
    line-height:1.6;
}

/* Cabeçalho */

header{
    background:#0d6efd;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo h1{
    font-size:1.5rem;
}

.menu-btn{
    background:none;
    border:none;
    color:rgb(0, 0, 0);
    font-size:2rem;
    cursor:pointer;
}

nav{
    display:none;
    position:absolute;
    top:70px;
    right:10px;
    background:white;
    width:220px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

nav.active{
    display:block;
}

nav ul{
    list-style:none;
}

nav ul li{
    border-bottom:1px solid #eee;
}

nav ul li:last-child{
    border-bottom:none;
}

nav ul li a{
    display:block;
    padding:15px;
    text-decoration:none;
    color:#333;
    transition:.3s;
}

nav ul li a:hover{
    background:#1e4c91;
    color:white;
}

/* Banner */

.banner{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(
        rgba(13,110,253,.85),
        rgba(13,110,253,.85)
    );
    color:white;
}

.banner h2{
    font-size:2rem;
    margin-bottom:15px;
}

.banner p{
    max-width:700px;
    margin:auto;
}

/* Seções */

section{
    padding:40px 20px;
}

section h2{
    text-align:center;
    margin-bottom:25px;
    color:#000103;
}

/* Seletores */

.seletores{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    max-width:800px;
    margin:auto;
}

.seletores label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

.seletores select{
    width:100%;
    padding:10px;
    border:1px solid #cccccc;
    border-radius:8px;
}

/* Card informações */

.card-info{
    background:white;
    max-width:900px;
    margin:30px auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card-info h3{
    color:#0d6efd;
    margin-bottom:15px;
}

.card-info h4{
    margin-top:20px;
    margin-bottom:10px;
}

.card-info ul{
    padding-left:20px;
}

/* Formulários */

form{
    max-width:800px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

form label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

form input,
form select,
form textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

form textarea{
    resize:vertical;
}

form button{
    margin-top:20px;
    width:100%;
    padding:14px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:1rem;
    transition:.3s;
}

form button:hover{
    background:#0b5ed7;
}

/* Guia SUS */

.guia-card{
    background:white;
    max-width:800px;
    margin:20px auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.guia-card h3{
    color:#0d6efd;
    margin-bottom:10px;
}

.guia-card ul{
    padding-left:20px;
}

/* Rodapé */

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

/* Responsivo */

@media (max-width:768px){

    .seletores{
        grid-template-columns:1fr;
    }

    .banner h2{
        font-size:1.5rem;
    }

    .logo h1{
        font-size:1.2rem;
    }
}

@media (min-width:992px){

    .menu-btn{
        display:none;
    }

    nav{
        display:block;
        position:static;
        background:none;
        width:auto;
        box-shadow:none;
    }

    nav ul{
        display:flex;
        gap:10px;
    }

    nav ul li{
        border:none;
    }

    nav ul li a{
        color:white;
        border-radius:8px;
    }

    nav ul li a:hover{
        background:rgba(124, 39, 39, 0.2);
    }
}